:root {
  --ball-diameter: 100px;
}

#court {
  border-block-end: peru solid 20px;
  position: relative;
  height: calc(var(--ball-diameter) * 5);
}

#ball {
  position: absolute;
  left: var(--ball-diameter);
  top: 0;
  width: var(--ball-diameter);
  height: var(--ball-diameter);
  border-radius: 50%;
  background-color: rgb(196, 56, 5);
  background-image:
    radial-gradient(rgba(255,255,255,.8) 0%, rgba(255,255,255,.02) 50%),
    radial-gradient(rgba(255, 69, 0, 1) 0%, rgb(255, 69, 0, .4) 100%);
  background-position:
    50% -25px,
    50% 50%;
  background-repeat: no-repeat;
  animation-name: ball;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation: 2s linear 2s alternate-reverse infinite ball;


}
/*@keyframes ball {
  0%{
    top: 0%;
  }
  50%{
    width: 120px;
		height: 40px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		-webkit-transform: translateY(170px);
		        transform: translateY(170px);
  }

    100% {
      top:80%;
      bottom: 0;

    }
  }*/

  @keyframes ball {
    0% {
      top: 0;
    }


  60%{
   top:50%;
 }

  95% {
      width: 120px;
      height: 40px;
    }

  100% {
    top:80%;
    bottom: 0;
  }
}


















