
html {
flex-direction: 100%;
}

.cloud {
  position: relative;
}

#sky {
    border-radius: 10px;
}

#sun {
  background-image: url('../images/sun.svg');
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}

#tree {
  background-image: url('../images/tree.svg');
}
#palm {
  background-image: url('../images/palm-tree.svg');
}

#cloud-1 {
   background-image: url('../images/cloud.svg');
     background-size:50px 40px;
  background-position:  left 10% bottom 50%;
  background-repeat: no-repeat;
}

#cloud-2 {
  background-image: url('../images/cloud.svg');
    background-size: 50px 45px;
  background-position: left 10%;
  background-repeat: no-repeat;

}

#house-1 {
  background-image: url('../images/house-1.svg');
  background-size:  80px 80%;
  background-position: bottom;
  background-repeat: no-repeat;
}

#house-2 {
  background-image: url('../images/house-2.svg');
  background-size: 56px 56px;
  background-position: bottom;
  background-repeat: no-repeat;
}
#road {
  background-position: bottom;
}

#car {
  background-image: url('../images/car.svg');
   background-size:70px  70px;
  background-position: bottom  ;
  background-repeat: no-repeat;
}
#countryside {
  position: relative;

}









