 a.icon_left::before {
    content: " " ;
    background-image: url('../images/icon-facebook.png');
    display: inline-block;
    border-radius: 40%;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    background-size: contain;

  }

  a.icon_right::after{
    content: " " ;
    background-image: url('../images/icon-facebook.png');
    display: inline-block;
    border-radius: 40%;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    background-size: contain;

  }
  .icon {
    background-color: lawngreen;
    padding:  1rem 1rem;
    text-decoration: lightgrey;
  color: blue;

}



