/*<div class="example">
        <ol class="progress_indicator">
          <li><a href="#/steps/1/"><span class="a11y">Go back to </span>Getting started</a></li>
          <li><b><span class="a11y">You are here: </span>Edit your profile</b></li>
          <li><span><span class="a11y">Up next: </span>Confirm your changes</span></li>
          <li><span><span class="a11y">Fourth step: </span>Save</span></li>
        </ol>
      </div>*/
/*<div class="container">
      <ul class="progressbar">
          <li class="active">login</li>
          <li>choose interest</li>
          <li>add friends</li>
          <li>View map</li>
  </ul>*/


    /*.progress_indicator{
        counter-reset: step;
    }
    .progress_indicator li {
        list-style-type: none;
        width: 25%;
        float: left;
         font-size: 12px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;
    }
    .progress_indicator li:before {
        width: 30px;
        height: 30px;
        content: counter(step);
        counter-increment: step;
        line-height: 30px;
        border: 2px solid #7d7d7d;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
    }
    .progress_indicator li:after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #7d7d7d;
        top: 15px;
        left: -50%;
        z-index: -1;
    }
    .progress_indicator li:first-child:after {
        content: none;
    }
    .progress_indicator li a {
        color: green;
    }
    .progress_indicator li:before {
        border-color:red;
    }
    .progress_indicator li + li:after {
        background-color: #55b776;
    }
*/
.a11y {
  position: absolute !important;
 height: 1px;
 width: 1px;
 overflow: hidden;
 clip:rect(1px,1px,1px,1px);
 white-space: nowrap;

}

.progress_indicator{
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

}
/*
1.back links-has a an anchor
2.cerrent step- has bold
3.future steps-has spans
*/
/*Back links, or previous steps*/
.progress_indicator a{
  text-decoration: none;
}
/*cerrent step*/
.progress_indicator b{

}
/*
future step*/
.progress_indicator span{
opacity: 0.75;

}
.progress_indicator li{
  counter-increment: step_number
}
.progress_indicator li > * {
  display: block;
  padding: 1rem;
  color: #000;
  padding-inline-start: 3rem;
  position: relative;
}

.progress_indicator li > *::before{
  content: counter(step_number);
  position: absolute;
  left: 1rem;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.75rem;
  background-color: #fff;
  font-size: 1rem;
  border-radius: 50%;
  text-align: center;
}

.progress_indicator a::before{
  background-color: blue;

}

.progress_indicator b::before{
  background-color: gold;
}

.progress_indicator span::before{
background-color: brown;
}

.progress_indicator::after{
 content: "";
 width: 0.25rem;
 position: absolute;
 top:1rem;
 bottom: 1rem;
 left: 1.75rem ;
 background-color: #ccc;
 margin-inline-start: -0.125rem;
 z-index: -1;
}
















