
 body{
  border:1px solid;
  width: 700px;
  height: 1000px;
  margin: 0rem;
}

main {
  border: solid 1px;
  background-color: white;
  margin-block-start: -238px;
}
nav{
  margin-top: -4rem;

}
header{
  display:inline ;
}
div{
  border-left-color: ;
}
nav > ul > li :not(:nth-of-type(4)){
  margin-right: 1rem;
}
