/*Let the footer manage the spacing .
 We 'll be using  'display inline' to all document*/
footer{
  border-top: 1px solid;
  text-align: center;
  padding-block-start: 7.5rem;
  padding-block-end: 7.5rem;
/* Make all list items t b displayed inline */
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
display the inline block
*/
footer li {
  display: inline-block;
  margin: 0 0.5rem;
}/*
added margin to a list no first child .
*/
footer li:not(:first-child):not(:last-child){
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}
footer p{
  color:rgb(75, 75, 75)
}
