 h1{
   margin: inherit;
 }
h1 a {
  text-decoration: none;
  color: white;

}

div a {

  text-decoration: none;
  color: white;
}
.div {
 text-align: right;
 margin-top: -2rem;

}
h2,
p {
  text-align: center;
  color: white;
  margin-top: 4rem;
}
