/*

h1{
   margin: inherit;
 }
h1 a {
  text-decoration: none;
  color: white;

}

div a {

  text-decoration: none;
  color: white;
}
.div {
 text-align: right;
 margin-top: -2rem;

}
h2,
.journal {
  text-align: center;
  color: white;
  margin-top: 4rem;
}
/*body > header h1{

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-bottom: -7rem;
}
body > header{
  font-size: 2rem;

}
body > header a {
  color: white;
  text-decoration: none;
}
*/
body > div {
  background-image: url(../images/bg_desktop.jpg);
  background-repeat: no-repeat;
  background-size: 700px;
  margin: 0px;
  margin-block-start: 4px;
  height: 500px;
  background-position-y: -6rem;

}
body > div h2 {
  display: block;
  margin: -2px;
  font-size: 2.5rem;
  color: white;
  text-align: center;

}
body > div p {
  display: block;
  color: white;
  text-align: center;
}
body > header h1{

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: -7rem;
  }
