/*
  We need the following numbering structure:

    1. Major clause `<h3>` separated by `<section>`s
      1.1. Clause (with a List) `<h4>` with a `<ol>` sibling
        1.1.a. List item `<li>`
        1.1.b. List item (with a List) `<li>` with a `<ol>` child
          1.1.b.i. Nested list item `<li>`
          1.1.b.ii. Nested list item `<li>`
          1.1.b.iii. Nested list item `<li>`
          1.1.b.iv. Nested list item `<li>`
          …
        1.1.c. List item `<li>`
        …
      1.2. Clause `<h4>`
      …
      1.13. Clause `<h4>`
    2. Major clause `<h3>` in a new `<section>`
    …
*/
h1{
  margin-left: 4rem;
  font-size: 4rem;

}
h2{
  font-size: 3rem;
}
section{
  margin-left: 35rem;
}
body {
  counter-reset: section;
}

h3 {
  counter-reset: subsection;
  font-size: 2rem;

}


h3::before {
  counter-increment: section;
  content: " " counter(section) ". ";

}
h4{
  font-size: 1.5rem;
}
h4::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
  font-size: 1.5rem;
}
li{
  line-height: 1.5;
  font-size: 20px;
  font-variant: proportional-nums;
  font-family: serif;
}

p{
  line-height: 1.5;
  font-size: 20px;
  font-variant: proportional-nums;
  font-family: serif;
}



ol {
  counter-reset: item;

}

ol > li {
  counter-increment: item;
  list-style-type: lower-alpha;

}

ol ol > li {
  display: block;
}

ol ol > li:before {
  counter-increment: list;
  content: counter(item, lower-roman) " - "

}



