.example
   h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-block-end:1rem ;
}
.example h2 {
    font-size: 2rem;
  font-weight: 700;
  margin-block-end:1rem ;
  }
  .example h3 {
    font-size: 1.5rem;
  font-weight: 700;
  margin-block-end:1rem ;
  }
  .example h4 {
    font-size: 1.25rem;
  font-weight: 700;
  margin-block-end:1rem ;
  }
  .example h5 {
    font-size: 1rem;
  font-weight: 700;
  margin-block-end:1rem ;
  }
  .example h6 {
    font-size: 1rem;
  font-weight: 700;
  margin-block-end:1rem ;
  font-variant: small-caps;
  }
  p.intro {
    font-size: 1.125rem;
  font-weight: 400;
  margin-block-end:1rem ;
  letter-spacing: o.1em;
  }
  p {
    font-size: 1rem;
  font-weight: 400;
  margin-block-end:1rem ;
}
small {
   font-size: 0.75rem;
  font-weight: 400;
  margin-block-end:1rem ;

}
#section_sans_serif {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section_serif {
  font-family: 'Times New Roman', Times, serif;
}

#section_monospace {
  font-family: monospace;
}

#section_fantasy {
  font-family: fantasy;
}
#section_cursive {
  font-family: cursive;
}
