body > header {
  color:white;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
}

body > header h1 {
  margin: 0;
  font-size: 2rem;



}

body > header a {
  color: inherit;
  text-decoration: none;
  display: flex;
  color: inherit;
  text-decoration: none;

}







