/*background-color
background-image using files
background-image using gradients
multiplbackground-images
background-position
background-repeat
background-size
*/
.dory_background {
  background-color: cornflowerblue;
  background-repeat: round;
  background-position: center;
  background-image: url(../images/bubble.png), url(../images/coral-reef.png);
  background-size: 700px;
}
/*Henry likes living on the open sunny plains of Southern Africa. Add some grass to his environment. Find and add all the other relevant images.*/

#big_bird{
  background-image:
                    url('../images/grass-tile.png'),
                    url('../images/grass-clump.png'),
                    url('../images/grass-left.png');
  background-position: left,right,center;
  background-repeat: repeat-x;
  background-size: 400px;
}
.image {
  background-image: url('../images/sun.png');
  background-color:rgb(228, 235, 135);
  background-repeat: no-repeat;
  background-position:right,bottom,top;
  background-size: 400px;
    }

/*Render a beach scene for Lu-Seal. Add some palms in the right places. Find and add all the other relevant images.*/

#lu_seal {
  background-image:
                    url('../images/crab.png'),
                    url('../images/beach-ball.png');

  background-repeat:inherit;
  background-position: bottom;
  background-size: 300px;
    }
.imag {
  background-image:url('../images/beach-ball.png'),
                    url('../images/palm-2.png'),
                     url('../images/palm.png');
  background-position:right;
  background-size: 400px;
  background-repeat:repeat-x;
  background-color:rgb(135, 142, 235);
   }





