/*background-color
background-image using files
background-image using gradients
multiplbackground-images
background-position
background-repeat
background-size
*/
.dory_background {
  background-color: cornflowerblue;
  background-repeat: round;
  background-position: center;
  background-image: url(../images/bubble.png), url(../images/coral-reef.png);
  background-size: 700px;
}
/*Henry likes living on the open sunny plains of Southern Africa. Add some grass to his environment.
Find and add all the other relevant images.*/

#big_bird {
  background-color:rgb(30, 204, 111);
  background-repeat:no-repeat;
  background-position:topright;
  background-image:url(../images/sun.png);
  background-size: 400px;
}

.bird {
  background-image:url(../images/grass-clump.png),
                   url(../images/grass-left.png),
                   url(../images/grass-tile.png);
  background-position: unset;
  background-repeat: repeat;
}









