/*header + div > div {
position: absolute;
width:56px;
position: absolute;
  top: 46rem;
  right: 46rem;
}*/

section:nth-of-type(1) .example svg:nth-of-type(1){
  position: relative;
  width: 54px;
  height: 177px;
  top: 65px;
  left: 146px;
}

section:nth-of-type(1) .example svg:nth-of-type(2){
  position: absolute;
  width: 69px;
  left: 33px;
}

  section:nth-of-type(1) .example svg:nth-of-type(3){
    left: 29px;
    position: absolute;
    top: 635px;
    width: 57px;
}

section:nth-of-type(1) .example svg:nth-of-type(4){
  position: absolute;
    width: 300px;
    height: 55px;
    bottom: 60px;
    left: 56px;
  }

