  section:nth-of-type(2) div:nth-child(2) {
  overflow: hidden;
  height: 200px;
  width: 200px;
  position: relative;
  }

section:nth-of-type(2) .container> .circle:first-child {
  position: absolute;
  top: 102px;
  width: 190px;
  left: 101px;
}

section:nth-of-type(2) .container >  .circle:nth-of-type(2){
  position: absolute;
  top: -87px;
  right: 99px;
  width: 190px;
}

section:nth-of-type(2) .container >  .circle:nth-of-type(3){
  position: absolute;
  width: 190px;
  top: 102px;
  right: 99px;
}

section:nth-of-type(2) .container >  .circle:nth-of-type(4) {
  position: absolute;
  height: 190px;
  top: -88px;
  right: -91px;
}
