/*section:nth-of-type(4) div:nth-child(2){
position: absolute;
width: 200px;
height: 200px;
}

section:nth-of-type(4) .example svg:nth-of-type(2){
  position: absolute;
  width: 200px;
  height: 200px;

}

section:nth-of-type(4) .example svg:nth-of-type(1){
  position: absolute;
}

section:nth-of-type(4) .example svg:nth-of-type(2){
  width: auto;
  height: 200px;
  position: static;
}

section:nth-of-type(4) .example svg:nth-of-type(3){
  top: -204px;
  position: relative;
  left: -1px;
  width: 90px;
  width: 199px;
  z-index: 1;
}

section:nth-of-type(4) .example svg:nth-of-type(4){
  top: 0px;
    width: 200px;
    position: absolute;
    left: 0px;
}
*/
section:nth-of-type(4) div:nth-child(2){
  position: relative;
  width: 200px;
  height: 200px;
}

section:nth-of-type(4) .example svg:nth-of-type(1){
  position: absolute;
  width: 200px;
  z-index: 2;
}

section:nth-of-type(4) .example svg:nth-of-type(2){
  position: absolute;
  width: 200px;
  z-index: 1;
}

section:nth-of-type(4) .example svg:nth-of-type(3){
  position: absolute;
  width: 200px;
  z-index: 4;
}

section:nth-of-type(4) .example svg:nth-of-type(4){
  position: absolute; ;
  width: 200px;
  z-index: 3;
}


















